<!--<label for="username">Username</label>-->
<!--<input type="text" id="username" name="username" placeholder="Username" class="black box"-->
<!--       formControlName="username">-->

<!--<label for="Password">Password</label>-->
<!--<input type="password" id="Password" name="Password" placeholder="Password" class="black box"-->
<!--       formControlName="password">-->

<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <h2>Connexion</h2>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email@example.com" formControlName="username" required>
      <!--    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input type="password" matInput placeholder="********" formControlName="password" required>
    </mat-form-field>
  </div>
  <div class="padding-button">
    <button type="submit" mat-raised-button color="primary">Login</button>
  </div>
</form>


